build/chem/.htaccess
build/chem-access/jscc73.htpasswd
Pipfile.lock
build/chem-access/jscc73.htdigest
api/fav.db
svelte-app/yarn.lock
svelte-app/src/index.js
package-lock.json
svelte-app/public/static/
svelte-app/src/ads.js
